uploads/*
!uploads/.gitkeep
model_resnet50.h5
model_vgg19.h5
model_mobilenet.h5
model_mobilenet(realtime images).h5
model_resnet50(real time images).h5
model_vgg19(real time images).h5
model_svm.h5
model_svm(realtime images).h5